<head>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <h2>Details</h2>
    <hr>
    <a href="/">Home</a>
    <div class="details">
        <h3><%=user%></h3>
        <p><%=text%></p>
        <p><%=added%></p>
    </div>
</body>